/*
 * Basic Vars
 */
/*
 * Helpers Functions
 */
/*
 * Basic CSS
 */
img {
  width: auto;
  max-width: 100%;
  height: auto;
}
body,
html {
  overflow-x: hidden;
}
body {
  font-size: 14px;
}
.row.inlined {
  font-size: 0;
}
.row.inlined > div {
  font-size: 14px;
  float: none;
  display: inline-block;
  vertical-align: middle;
}
/*
 * Header Style
 */
#head {
  padding: 10px 0;
  box-shadow: 0 0 5px -1px #ccc;
}
#head .site-title img {
  height: 40px;
}
/*
 * Nav Style
 */
.nav.nav-stacked {
  text-align: center;
}
.nav.nav-pills {
  text-align: right;
}
.nav.nav-pills > li {
  float: none;
  display: inline-block;
  vertical-align: top;
}
.nav li.current-menu-item a,
.nav li.current_page_parent a {
  color: #fff;
  background-color: #337ab7;
}
/*
 * Gallery Item
 */
.gallery {
  padding: 5px;
  background: #fff;
  font-size: 0;
  letter-spacing: 0;
}
.gallery .gallery-item {
  padding: 0;
  padding: 5px;
  background: #fff;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  font-size: 14px;
  letter-spacing: initial;
}
.gallery .gallery-item img {
  width: 100%;
}
.gallery.gallery-columns-1 .gallery-item {
  width: 100%;
}
.gallery.gallery-columns-2 .gallery-item {
  width: 50%;
}
.gallery.gallery-columns-3 .gallery-item {
  width: 33.333%;
}
.gallery.gallery-columns-4 .gallery-item {
  width: 25%;
}
.gallery.gallery-columns-5 .gallery-item {
  width: 20%;
}
.gallery.gallery-columns-6 .gallery-item {
  width: 16.666%;
}
.gallery.gallery-columns-7 .gallery-item {
  width: 14.285%;
}
.gallery.gallery-columns-8 .gallery-item {
  width: 12.5%;
}
.gallery.gallery-columns-9 .gallery-item {
  width: 11.11%;
}
.gallery.gallery-columns-10 .gallery-item {
  width: 10%;
}
/*
 * Main
 */
#main {
  padding-top: 10px;
}
/*
 * Single Post
 */
article {
  margin: 0 0 30px;
}
article header {
  margin: 0 0 10px;
  padding: 0 0 10px;
  border-bottom: 1px solid #eee;
}
article header h2 {
  float: left;
  margin: 0;
}
article header .published-time {
  padding: 5px;
  display: inline-block;
  border-radius: 5px;
  margin: 0;
  background-color: #eee;
  float: right;
}
/*
 * Footer Style
 */
#footer {
  margin-top: 50px;
  padding: 10px 0;
  box-shadow: 0 0 5px -1px #ccc;
}
#footer .copy p {
  text-align: center;
  font-size: 12px;
  padding: 10px 0;
  margin: 0;
}
